@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Invoicing App</h1>
    <p>Go to <a asp-controller="Customer" asp-action="GetCustomers" asp-route-filterFrom="A" asp-route-filterTo="E">all customers</a>.</p>
</div>
